img {
    max-width: 100%;
}
.main-section .logo img {
    width: 100px;
    @include logo;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    @media (min-width: $break-m) {
        width: 150px;
        top: -65px;
    }
}

.main-section .logo {
    position: relative;
    
}

// FIRST SECTION

.introduction-social img {
    width: 32px;
    margin-top: $margin-top;
    @media (min-width: $break-m) {
        width: 42px;
    }
}

.contact,
.follow {
    position: relative;
    
}
.message ~ img {
    position: absolute;
    width: 16px;
    left: 80%;
    top: 35%;
    @media (min-width: $break-m) {
        top: 43%;
        left: 85%;
    }
}

// SECOND SECTION - TWITTS

.twitts .logo img {
    width: 42px;
    @include logo;
}

.post img {
    width: 250px;
    display: block;
    margin: 0 auto;
    
    @media (min-width: $break-m) {
        width: 320px;
    }

}

footer img {
    height: 28px;
}