
.main-section .logo img {
    width: 100px;
    @include logo;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);

}

.main-section .logo {
    position: relative;
    
}

// FIRST SECTION

.introduction-social img {
    width: 32px;
    margin-top: $margin-top;
}

.contact,
.follow {
    position: relative;
    
}
.message ~ img {
    position: absolute;
    width: 20px;
    left: 80%;
    top: 35%;
}

// SECOND SECTION - TWITTS

.twitts .logo img {
    width: 42px;
    @include logo;
}

.post img {
    width: 250px;
    display: block;
    margin: 0 auto;
}

.icons,
.icons-con,
.icon-numbers {
    display: flex; 
   
}
.icons {
    flex-direction: column;
    margin-top: 15px;
    p {
     width: 34px;
     font-size: $font-xs;
    padding: 0em 1em 0em .3em;
    }
    
}
.icon-numbers {
    margin-left: 19px;
    
}
.icon-numbers p:last-of-type {
    margin-left: 4px;
}

.icon-con {
    margin-top: -9px;
    img {
    width: 32px;
    padding: 0em .8em 0em .3em 
}
}