
* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

h2 {
    font-size: 14px;
}
p {
    font-size: $font-small;
}
span {
    color: $background-dark;
}

.icon-twit a{
    font-size: $font-xs;
}